.background {
  width: 100vw;
  height: 100vh;
  background: var(--blue);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: auto;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.containerLeft {
  width: calc(50% - (2 * 2rem));
  margin: 0 2rem 0 2rem;
}

.containerLeft img {
  width: 100%;
  height: auto;
}

.containerRight {
  width: calc(50% - (2 * 2rem));
  margin: 0 2rem 0 2rem;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.containerRight header {
  width: 100%;

  display: flex;

  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.containerRight header img {
  width: 320px;
  height: 76px;
}

.containerRight header strong {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;

  color: var(--white);

  margin-top: 6rem;
}

.containerRight form {
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.containerRight form div:first-child {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  margin-top: 1.6rem;
}

.containerRight form div:first-child p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--text-highlight);

  margin-left: 1.6rem;
}

.containerRight form div:first-child img {
  width: 2.6rem;
  height: 2.6rem;
}

.containerRight form div:last-child {
  width: 100%;
  margin-top: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRight form div:last-child input {
  height: 5.3rem;
  width: 100%;

  font-size: 1.33rem;
  line-height: 2.26rem;
  color: var(--text-highlight);

  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 0 1.53rem;
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
}

.containerRight form div:last-child input::placeholder {
  color: var(--text-highlight);
  font-size: 1.33rem;
  line-height: 2.26rem;
}

.containerRight form div:last-child button {
  height: 5.3rem;
  padding: 1.83rem;

  background: var(--blue-dark);
  border: none;
  border-radius: 0 5px 5px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHighlight {
  background: var(--green) !important;
}

.loading {
  width: 100vw;
  height: 100vh;
  margin: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 1080px) {
  .background,
  .container {
    min-height: 540px;
  }

  .containerLeft {
    display: none;
  }

  .containerRight {
    width: 100%;
    margin: 0 1rem 0 1rem;
  }

  .containerRight header img {
    width: calc(320px - (2 * 1rem));
    height: 76px;
  }
}

@media (min-width: 1444px) {
  .containerLeft {
    width: calc(50% - (3.5 * 1rem));
    margin: 0 3.5rem 0 3.5rem;
  }

  .containerRight {
    width: calc(50% - (3.5 * 1rem));
    margin: 0 3.5rem 0 3.5rem;
  }
}
