.container {
  height: 100vh;
  width: 100vw;
  background: var(--blue);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.container > div {
  display: flex;

  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.containerHeader {
  width: 100%;

  display: flex;

  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.containerHeader img {
  width: 320px;
  height: 76px;
}

.containerHeader strong {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;

  color: var(--white);

  margin-top: 6rem;
}

.containerMain {
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.containerMain div:first-child {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  margin-top: 1.6rem;
}

.containerMain div:first-child p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--text-highlight);

  margin-left: 1.6rem;
}

.containerMain div:first-child img {
  width: 2.6rem;
  height: 2.6rem;
}

.containerMain div:last-child {
  width: 100%;
  margin-top: 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerMain div:last-child input {
  height: 5.3rem;
  width: 100%;

  font-size: 1.33rem;
  line-height: 2.26rem;
  color: var(--text-highlight);

  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 0 1.53rem;
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
}

.containerMain
  div:last-child
  input:fo
  .containerMain
  div:last-child
  input::placeholder {
  color: var(--text-highlight);
  font-size: 1.33rem;
  line-height: 2.26rem;
}

.containerMain div:last-child button {
  height: 5.3rem;
  padding: 1.83rem;

  background: var(--blue-dark);
  border: none;
  border-radius: 0 5px 5px 0;
}

.buttonHighligh {
  background: var(--green) !important;
}

@media (max-width: 1023px) {
  .container > img {
    display: none;
  }

  .container > div {
    height: 100vh;
    width: 100vw;
    margin: 2rem;
  }

  .containerHeader img {
    width: calc(320px - 4rem);
    height: 76px;
  }
}

@media (min-width: 1024px) {
  .container > img {
    height: 100vh;
    width: 50vw;
    margin: 3rem 3rem 3rem 0;
  }

  .container > div {
    height: 100vh;
    width: 50vw;
    margin: 3rem;
  }
}
